/**
 * Created by PhpStorm.
 * User: home
 * Date: 2/7/2016
 * Time: 16:43
 */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2e3436;
}

#login-body {
    position: relative;
    margin: 100px auto;
    width: 400px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #eadabd;
}

#login-body p {
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
    color: #eadabd;
    border-bottom: 1px solid #2e3436;
    font-size: 28px;
    background-color: #2e3436;
}

#login-body p.login-subtitle {
    position: absolute;
    bottom: 0;
    padding: 0;
    font-size: 12px;
    width: 100%;
}

#login-body p.message {
    background-color: #eadabd;
    color: #2e3436;
}

#login-body form p {
    margin-top: 20px;
    color: #fff;
    background: #a74949;
    padding: 10px;
    font-size: 14px;
    border: 0px;
    margin-bottom: 30px;
}

#login-content {
    padding: 20px 40px;
}

#login-content form {
    margin-top: 40px;
}

#login-content label {
    display: block;
    color: #2e3436;
    margin-bottom: 5px;
}

/*#login-content label[for="remember_me"] {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: -4px;*/
/*}*/

#login-content form a {
    display: block;
    margin-bottom: 30px;
}

#login-content input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #f5f3f1 none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#login-content input[type="checkbox"] {
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#login-content input[type="submit"] {
    margin-bottom: 40px;
    background-color: #2e3436;
    color: #eadabd;
    cursor: pointer;
    font-weight: 600;
}

#login-content div {
    margin-top: 20px;
    color: #fff;
    background: #a74949;
    padding: 10px;
}

#login-content .logout input {
    margin-top: 40px;
}

#login-content form #fos_user_resetting_form div,
#login-content form #fos_user_resetting_form,
#login-content form div {
    background: none;
    margin-top: 0;
}

#login-content form[name="fos_user_resetting_form"] {
    margin-top: 20px;
}
