{% extends "@Symshop/Security/admin/login_layout.html.twig" %}
{% trans_default_domain 'admin' %}
{% set page = 'resetting.message.already-requested' %}
{% block fos_user_content %}
    <div>
        {{ 'resetting.password_already_requested'|trans }}
    </div>
    <form action="{{ path('admin_login') }}">
        <input type="submit" value="{{ 'login.goto-login-page' | trans }}"/>
    </form>
{% endblock fos_user_content %}
