{% extends '@Admin/base.html.twig' %}
{% trans_default_domain "symshop" %}

{% block body %}
    <div id="login-body">
        <p>{{ app_name }} Admin</p>

        <div id="login-content">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="message">Already signed in.</p>
                <a href="{{ path('fos_user_security_logout') }}" class="logout"><input type="submit" value="Logout"></a>
            {% else %}
                <p class="message">{{ 'login.welcome-message' | trans }}</p>
                {{ block('fos_user_content') }}
            {% endif %}
        </div>
        <p class="login-subtitle">@2016 by SymShop Community</p>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
    </div>
{% endblock %}