{% extends "@Admin/Login/login_layout.html.twig" %}
{% trans_default_domain 'symshop' %}
{% set page = 'resetting.message.check-email' %}
{% block fos_user_content %}
    <div>
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </div>
    <form action="{{ path('admin_login') }}">
        <input type="submit" value="{{ 'login.goto-login-page' | trans }}"/>
    </form>
{% endblock %}
